  .banner { color:#eff0f1;
    background: #31B3DA url(banner.jpg) no-repeat center left;
    font-family: "Arial Narrow";
    padding: 1%;
    text-align: center;
    font-size: 220%;
   }; 

   body {
    font-size: 100%;
   }

   h1 {color: navy;
    text-indent: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif};
  
.logo { background: #a9acad url(logo.png) no-repeat center left;
    border-radius: 50%;
    width: 50%;
    height: 50%;
  }
    ul.menu li {  
        padding:1%;  
        font-family:Arial, sans serif;  
        font-size: 100%;  
        text-transform:uppercase;
    }
    
    ul.menu li {  
        display:inline-block;
    }
    
    ul.menu a {  
        display:block;  
        padding:1%;  
        font-size: 100%;  
        color:white;  
        text-decoration:none;
    }
   
    .menu {margin:10px;
    width:1200px;
    height: 20px;
    font-family: Arial, sans serif;
    background-color: rgb(41, 42, 43);
    padding: 40px;
    text-align: center;
    float:left;
  };


  
  @media screen and (max-width: 767px){
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        width: 750px;
        padding: 0 10px;
}
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1200px;
        padding: 0 20px;
    }
}


@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
    }
    }



    a:link {
        color: #FF0000;  }
     a:visited {
        color: #00FF00;}
     a:hover {
        color: #FF00FF;}
      a:active {
        color: #0000FF;}

      
        #task {
        padding: 10px;
        color: black;
        font-family: 'Times New Roman', Times, serif};
      
        #requirements {background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        font-family: "Arial Narrow"};
      
        #submission {background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        font-family: "Arial Narrow"};
      
        #grading {background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        font-family: "Arial Narrow"};
      
        #deadline {background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        font-family: "Arial Narrow"};
    

    